@model IEnumerable<Bloggy.Client.Web.Models.BlogPostModelLight>
@if (Model != null)
{
    if (Model.Any())
    {
        foreach (Bloggy.Client.Web.Models.BlogPostModelLight post in Model)
        {
            @Html.Partial("_BlogPostListItemPartial", post)
        }
    }
    else
    {
        <div class="alert alert-danger">
            There is no blog post available to view! So sad :(
        </div>
    }
}