<div class="row">
    <div class="span3 big-badge-holder">
        <a href="http://mvp.microsoft.com/en-us/mvp/Ali%20Tugberk%20Ugurlu-4039968">
            <img src="~/Content/img/MVP_Horizontal_BlueOnly9.png" alt="Tugberk Ugurlu, ASP.NET MVP" />
        </a>
    </div>
</div>

<div class="row">
    <div class="span3">
        <ul id="badge-list">
            <li><a class="btn" href="http://twitter.com/tourismgeek"><i class="icon-twitter icon-large"></i></a></li>
            <li><a class="btn" href="http://www.linkedin.com/in/tugberk"><i class="icon-linkedin icon-large"></i></a></li>
            <li><a class="btn" href="http://github.com/tugberkugurlu"><i class="icon-github icon-large"></i></a></li>
            <li><a class="btn" href="https://plus.google.com/114404472683655231726?rel=author" rel="author"><i class="icon-google-plus icon-large"></i></a></li>
            <li><a class="btn" href="http://stackoverflow.com/users/463785/tugberk"><i class="icon-stackexchange icon-large"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>