<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">Tugberk Ugurlu</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="">
                        <a href="@Url.Action("index", "default")">Blog</a>
                    </li>
                    <li class="">
                        <a href="@Url.Action("index", "about")">About</a>
                    </li>
                    <li class="">
                        <a href="@Url.Action("index", "contact")">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
