<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
  <add key="ravendb:url" value="http://localhost:8080/" />
  <add key="ravendb:defaultDatabase" value="Blog" />

  <add key="recaptcha:active" value="false" />
  <add key="recaptcha:privateKey" value="" />
  <add key="recaptcha:publicKey" value="" />
    
  <add key="akismet:active" value="false" />
  <add key="akismet:apiKey" value="" />
  <add key="akismet:blog" value="" />
</appSettings>