<?xml version="1.0"?>
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="ravendb:url" value="http://localhost:8080/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="ravendb:defaultDatabase" value="Blog" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  <add key="recaptcha:active" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="recaptcha:privateKey" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="recaptcha:publicKey" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  <add key="akismet:enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="akismet:apiKey" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="akismet:blog" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
</appSettings>