div[role="main"] {
    margin-top: 60px;
}

div.blog-post-item {

    div.head {

        .title {
        }

        .text-info-custom {
            margin-bottom: 10px;
        }

        .misc {
            margin-bottom: 10px;
        }

        .tags {

            span.tag-label {
                margin-right: 5px;

                &:last-of-type {
                    margin-right: 0;
                }

                a {
                    color: #fff;
                }
            }
        }
    }
}