<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MvcBlog" connectionString="Server=tugberkvms.cloudapp.net;Database=MvcBlog;User Id=sa;Password=Gv7hYyvIz2keB76qYNxX;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ravendb:url" value="http://localhost:8080/" />
    <add key="ravendb:defaultDatabase" value="Blog" />

    <add key="akismet:apiKey" value="0db1802cfa7d" />
    <add key="akismet:blog" value="http://www.tugberkugurlu.com/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>