<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ravendb:url" value="http://localhost:8080/" />
    <add key="ravendb:defaultDatabase" value="Blog" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>