@model Bloggy.Client.Web.ViewModels.TagsViewModel

<div class="span5 misc-item">
    @foreach (var tag in Model.Tags)
    {
        <span class="badge badge-info">
            @tag.Name (@tag.Count) - (@tag.Slug) - (@tag.LastSeenAt)
        </span>
    }
</div>
