@model Bloggy.Client.Web.ViewModels.TagsHomeViewModel
@{
    ViewBag.Title = Url.RequestContext.RouteData.Values["slug"].ToString() + " Blog Posts";
}

<div class="alert alert-info">
    <strong>Sorted By: </strong> Tag (@Url.RequestContext.RouteData.Values["slug"].ToString())
</div>

@Html.Partial("_BlogPostListPartial", Model.BlogPosts)
@CustomHelpers.Pager(Model.BlogPosts)