@using Bloggy.Client.Web.Models
@model IEnumerable<TagModel>
@{
    Layout = null;
}

<ul class="none-style-list inline-list labeled-list">
    @foreach (TagModel tag in Model)
    {
        <li>
            <a href="@Url.Action("index", "tags", new { slug = tag.Slug })">
                <i class="fa fa-tag"></i>&nbsp; @tag.Name (@tag.Count)
            </a>
        </li>
    }
</ul>