@using Bloggy.Client.Web.Models
@model IEnumerable<TagModel>
@{
    Layout = null;
}

<ul>
    @foreach (TagModel tag in Model)
    {
        <li>
            <a href="@Url.Action("index", "tags", new { slug = tag.Slug })">
                @tag.Name (@tag.Count)
            </a>
        </li>
    }
</ul>