@using Bloggy.Client.Web.Models
@model IEnumerable<Bloggy.Client.Web.Models.ArchiveItemModel>
@{
    Layout = null;
}

<ul class="none-style-list labeled-list">
    @foreach (ArchiveItemModel archiveItem in Model)
    {
        <li>
            <a href="#">
                <i class="fa fa-calendar-o"></i>&nbsp; @archiveItem.Label
            </a>
        </li>
    }
</ul>