@{
    ViewBag.Title = "About Tugberk Ugurlu";
}
<h2>About Tugberk Ugurlu</h2>
<div class="row">
    <div class="col-sm-3">
        <div class="thumbnail">
            <img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/6/000/2cd/0a8/086c306.jpg" alt="Tugberk Ugurlu" />
        </div>
    </div>
    <div class="col-sm-9">
        <p>I am a web guy and software developer specialized mainly on .NET Web technologies including ASP.NET Web API, ASP.NET SignalR, ASP.NET MVC, OWIN, Project Katana, etc.</p>
        <p>Despite the fact that I've studied travel management at college and high school, I've been dragged to programming with my industrial knowledge and I have been passionate about .NET and its sub frameworks since then. I've worked at the tourism industry to build tourism software services and products for long time, I am also a very involved member in the community and try my way to expose my knowledge to others through my blog, webcasts, authoring books, giving talks on various topics and so on.</p>
        <p>I live in Istanbul, Turkey and work at XOMNI as a senior software developer. I am also married to a lovely woman.</p>  
    </div>
</div>