@{
    ViewBag.Title = "Contact Tugberk Ugurlu";
}
<h2>Contact Tugberk Ugurlu</h2>
<p>
    There are variety ways which you can contact me through:
</p>
<ul>
    <li>Twitter: <a href="https://twitter.com/tourismgeek">@@tourismgeek</a></li>
    <li>LinkedIn: <a href="http://tr.linkedin.com/in/tugberk/">Tugberk Ugurlu on LinkedIn</a></li>
    <li>Google+: <a href="https://plus.google.com/114404472683655231726/posts">Tugberk Ugurlu on Google+</a></li>
</ul>